:root{
  --darkcyan: hsl(185, 75%, 39%);
  --darkblue: hsl(229, 23%, 23%);
  --darkgrayishblue: hsl(227, 10%, 46%);
  --darkgray: hsl(0, 0%, 59%);
  --fontfamily: 'Kumbh Sans', sans-serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: var(--darkcyan);
  overflow: hidden;
}
img{
  display: block;
}

#content{
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: var(--fontfamily);
  position: relative;
  overflow: hidden;
}

#content::before{
  content: url(../images/bg-pattern-top.svg);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  transform: translate(-35%, -55%);
}
#content::after{
  content: url(../images/bg-pattern-bottom.svg);
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
  transform: translate(28%, 65%);
}

#card{
  width: 350px;
  height: 375px;
  background-color: white;
  border-radius: 15px;
}

#header{
  width: 100%;
  height: 285px;
  border-bottom: 1px solid rgba(218, 218, 218, .80);
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#header img{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#logo{
  margin: -55px auto 0px auto;
}
#logo img{
  border-radius: 50%;
  background-color: white;
  border: 5px solid white;
}

#info{
  margin: auto;
  width: 50%;
  height: 50px;
}
#info h1{
  font-size: 18px;
  color: var(--darkblue);
  line-height: 28px;
}
#info span{
  font-weight: 400;
  color: var(--darkgrayishblue);
}
#info p{
  color: var(--darkgrayishblue);
  font-size: 13px;
  line-height: 27px;
}

#footer{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}

.likes{
  width: 100px;
  height: 50px;
  margin-top: 20px;
}
.likes h2{
  font-size: 18px;
  color: var(--darkblue);
  font-weight: 700;
  line-height: 40px;
}
.likes p{
  font-size: 10px;
  color: var(--darkgrayishblue);
  line-height: 1px;
}

.attribution { font-size: 11px; text-align: center; margin-top: 80px;}
.attribution a { color: white; }